$darkerblue:#0C0032;
$darkblue:#190061;
$blue:#240090;
$saturblue:#4500ff;
$darkgray:#282828;


.ideas{
  background: $darkblue;
  margin: auto;
  margin-top:1vh;
  margin-bottom:6vh;
  width:80vw;
  max-width: 900px;
  padding:1vh 1vw ;
  border-radius: 10px;

}
h1{
  margin: auto;
  color: $saturblue;
  margin-top:10vh;
  width:fit-content;
  font-family: 'Nunito';
}
